// Variables
$selected-tab-clr: #700076;
$selected-tab-icon-clr: invert(14%) sepia(41%) saturate(7290%) hue-rotate(288deg) brightness(73%) contrast(115%);
$min-temperature-icon-clr: invert(66%) sepia(75%) saturate(3027%)
  hue-rotate(160deg) brightness(95%) contrast(90%);
$max-temperature-icon-clr: invert(32%) sepia(85%) saturate(5006%)
  hue-rotate(346deg) brightness(77%) contrast(122%);

// Background patterns
.cloudy::before {
  background: url('/src/assets/weather-icons/weather-cloudy.svg');
}

.fog::before {
  background: url('/src/assets/weather-icons/weather-fog.svg');
}

.lightning-rainy::before {
  background: url('/src/assets/weather-icons/weather-lightning-rainy.svg');
}

.lightning::before {
  background: url('/src/assets/weather-icons/weather-lightning.svg');
}

.night-partly-cloudy::before {
  background: url('/src/assets/weather-icons/weather-night-partly-cloudy.svg');
}

.night::before {
  background: url('/src/assets/weather-icons/weather-night.svg');
}

.partly-cloudy::before {
  background: url('/src/assets/weather-icons/weather-partly-cloudy.svg');
}

.partly-lightning::before {
  background: url('/src/assets/weather-icons/weather-partly-lightning.svg');
}

.partly-rainy::before {
  background: url('/src/assets/weather-icons/weather-partly-rainy.svg');
}

.partly-snowy-rainy::before {
  background: url('/src/assets/weather-icons/weather-partly-snowy-rainy.svg');
}

.partly-snowy::before {
  background: url('/src/assets/weather-icons/weather-partly-snowy.svg');
}

.pouring::before {
  background: url('/src/assets/weather-icons/weather-pouring.svg');
}

.rainy::before {
  background: url('/src/assets/weather-icons/weather-rainy.svg');
}

.snowy-heavy::before {
  background: url('/src/assets/weather-icons/weather-snowy-heavy.svg');
}

.snowy-rainy::before {
  background: url('/src/assets/weather-icons/weather-snowy-rainy.svg');
}

.snowy::before {
  background: url('/src/assets/weather-icons/weather-snowy.svg');
}

.sunny::before {
  background: url('/src/assets/weather-icons/weather-sunny.svg');
}

.cloudy,
.fog,
.lightning-rainy,
.lightning,
.night-partly-cloudy,
.night,
.partly-cloudy,
.partly-lightning,
.partly-rainy,
.partly-snowy-rainy,
.partly-snowy,
.pouring,
.rainy,
.snowy-heavy,
.snowy-rainy,
.snowy,
.sunny {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 5%;
    background-repeat: round;
    filter: opacity(0.04);
  }
}
