// Variables
$selected-tab-clr: #700076;
$min-temperature-icon-clr: invert(66%) sepia(75%) saturate(3027%)
  hue-rotate(160deg) brightness(95%) contrast(90%);
$max-temperature-icon-clr: invert(32%) sepia(85%) saturate(5006%)
  hue-rotate(346deg) brightness(77%) contrast(122%);

// Background patterns
.snowy::before {
  background: url('/src/assets/snowy.svg');
}

.rainy::before {
  background: url('/src/assets/rainy.svg');
}

.snowy,
.rainy {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 5%;
    background-repeat: round;
    filter: opacity(0.04);
  }
}
