@use 'utilities' as *;
@use 'media';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.container {
  position: relative;
  height: 100svh;
  padding: 16px;
  display: grid;
  grid-template-rows: min-content 5fr min-content;
  place-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;

  nav {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    position: relative;

    li {
      list-style-type: none;
      cursor: pointer;
      width: 25%;
      text-align: center;
    }

    .selected {
      color: $selected-tab-clr;
      font-weight: bolder;

      &.today ~ .sliding-underline {
        margin-left: 25%;
      }

      &.tomorrow ~ .sliding-underline {
        margin-left: 50%;
      }

      &.two-days ~ .sliding-underline {
        margin-left: 75%;
      }
    }

    .sliding-underline {
      left: 0;
      bottom: -10px;
      position: absolute;
      height: 0.25rem;
      width: 25%;
      margin-left: 0;
      background-color: $selected-tab-clr;
      border: none;
      transition: margin-left 0.3s ease-in-out;
    }
  }
}

main {
}

footer {
  display: grid;
  place-items: center;

  i {
    color: black;
  }
}

// Load media queries
// Goes at the end
@include media.queries;
